pipeline/feature_ppl_metadata_lookup.json
{
	"name": "feature_ppl_metadata_lookup",
	"properties": {
		"activities": [
			{
				"name": "Select Table Name",
				"description": "To select the table name, we have to query with a distinct statement the \ncrmipk_p table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT(entity_logical_name) FROM crmipk_p\nORDER BY entity_logical_name ASC",
						"queryTimeout": "00:10:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_asql_metadata_crmipk_p",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "crmipk_p Output",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Select Table Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Select Table Name').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"variables": {
			"table_name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}