pipeline/feature_ppl_metadata_lookup.json
{
	"name": "feature_ppl_metadata_lookup",
	"properties": {
		"activities": [
			{
				"name": "Select Table Name",
				"description": "To select the table name, we have to query with a distinct statement the \ncrmipk_p table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT(entity_logical_name) FROM crmipk_p\nORDER BY entity_logical_name ASC",
						"queryTimeout": "00:10:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_asql_metadata_crmipk_p",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "crmipk_p Output",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Select Table Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Select Table Name').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "EntityNames",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "entity_logical_name",
								"value": {
									"value": "@item().entity_logical_name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Create Tables",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "EntityNames",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_asql_metadataui",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "DECLARE @entity_logical_name VARCHAR(50), @logical_name VARCHAR(50)\nDECLARE @sql VARCHAR(MAX)\n\nDECLARE myCursor CURSOR FOR \nSELECT entity_logical_name, logical_name FROM crmipk_p\nWHERE entity_logical_name = '@{variables('entity_logical_name')}'\n\nOPEN myCursor\nFETCH NEXT FROM myCursor INTO @entity_logical_name, @logical_name \n\n-- Create table with entity_logical_name as table name\nSET @sql = 'CREATE TABLE ' + QUOTENAME(@entity_logical_name) + '('\nWHILE @@FETCH_STATUS = 0\nBEGIN\n  -- Add logical_name as a column to the table\n  SET @sql = @sql + QUOTENAME(@logical_name) + ' VARCHAR(50), '\n  \n  FETCH NEXT FROM myCursor INTO @entity_logical_name , @logical_name \nEND\n-- Remove the trailing comma and close the parentheses\nSET @sql = LEFT(@sql, LEN(@sql) - 1) + ')'\nEXEC (@sql)\n\nCLOSE myCursor\nDEALLOCATE myCursor",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"variables": {
			"entity_logical_name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}