pipeline/main_sqldb_to_log.json
{
	"name": "main_sqldb_to_log",
	"properties": {
		"activities": [
			{
				"name": "Lookup Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "00:10:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_asql_metadata_crmipk_p",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Lookup Output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "lookup_output",
					"value": {
						"value": "@activity('Lookup Metadata').output.firstRow[0]",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"lookup_output": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}