pipeline/main_ppl_metadata_elegant.json
{
	"name": "main_ppl_metadata_elegant",
	"properties": {
		"activities": [
			{
				"name": "Create Metadata Table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set Name Of Metadata Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_asql_metadataui",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "DROP TABLE IF EXISTS [dbo].[@{variables('metadata_table_name')}];\n\nCREATE TABLE [dbo].[@{variables('metadata_table_name')}](\n    [export] varchar(5),\n    [import] varchar(5),\n    [entity_display_name] VARCHAR(50) NOT NULL,\n    [entity_logical_name] VARCHAR(50) NOT NULL,\n    [logical_name] VARCHAR(50) NOT NULL,\n    [schema_name] VARCHAR(50) NOT NULL,\n    [display_name] VARCHAR(100),\n    [attribute_type] VARCHAR(20) NOT NULL,\n    [description] VARCHAR(1000),\n    [custom_attribute] VARCHAR(5) NOT NULL,\n    [type] VARCHAR(10),\n    [additional_data] VARCHAR(1000)\n)\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set Name Of Metadata Table",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "metadata_table_name",
					"value": "crmipk_p"
				}
			},
			{
				"name": "Ingest Excel Data To DB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Create Metadata Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Export"
								},
								"sink": {
									"name": "export",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Import"
								},
								"sink": {
									"name": "import",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Entity Display Name"
								},
								"sink": {
									"name": "entity_display_name",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Entity Logical Name"
								},
								"sink": {
									"name": "entity_logical_name",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Logical Name"
								},
								"sink": {
									"name": "logical_name",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Schema Name"
								},
								"sink": {
									"name": "schema_name",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Display Name"
								},
								"sink": {
									"name": "display_name",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Attribute Type"
								},
								"sink": {
									"name": "attribute_type",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Description"
								},
								"sink": {
									"name": "description",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Custom Attribute"
								},
								"sink": {
									"name": "custom_attribute",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Type"
								},
								"sink": {
									"name": "type",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Additional data"
								},
								"sink": {
									"name": "additional_data",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "metadata_crmikpk_p",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_asql_metadata_crmipk_p",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Create Table Statement",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Ingest Excel Data To DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_asql_metadataui",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "DROP TABLE IF EXISTS [dbo].[crmipk_p_dt_mapping];\n\nCREATE TABLE [dbo].[crmipk_p_dt_mapping] (\n    [dt_oracle] VARCHAR(50) NOT NULL,\n    [dt_tsql] VARCHAR(50) NOT NULL\n);\n\nINSERT INTO [dbo].[crmipk_p_dt_mapping] ([dt_oracle], [dt_tsql])\nVALUES ('Multiline Text',  'VARCHAR(100)'),\n       ('Decimal',  'DECIMAL(8, 2)'),\n       ('BigInt',  'BIGINT'),\n       ('Currency', 'MONEY'),\n       ('Two options', 'BIT'),\n       ('Virtual', 'VARCHAR(100)'),\n       ('Status', 'VARCHAR(100)'),\n       ('Choice', 'VARCHAR(100)'),\n       ('DateTime', 'DATE'),\n       ('Lookup', 'VARCHAR(100)'),\n       ('Uniqueidentifier', 'UNIQUEIDENTIFIER'),\n       ('Customer', 'VARCHAR(100)'),\n       ('Double', 'FLOAT'),\n       ('State', 'VARCHAR(100)'),\n       ('Whole number', 'INT'),\n       ('Text', 'VARCHAR(MAX)'),\n       ('Owner', 'VARCHAR(MAX)');\n\n\n-- From CTE out of metadata table and datatype mapping table, create the 'CREATE TABLE' table\n\nWITH [crmipk_p_temp] AS (\n    SELECT [crmipk_p].[entity_logical_name], [crmipk_p].[logical_name], [crmipk_p_dt_mapping].[dt_tsql] AS [attribute_type_tsql] ,[crmipk_p].[attribute_type]\n    FROM [crmipk_p_dt_mapping]\n    JOIN [crmipk_p]\n    ON [crmipk_p].[attribute_type] = [crmipk_p_dt_mapping].[dt_oracle]\n)\nSELECT \n    [entity_logical_name],\n    'CREATE TABLE ' + [entity_logical_name] + ' ( ' + STRING_AGG( CAST([logical_name] + ' ' + [attribute_type_tsql] AS NVARCHAR(MAX)), ', ') + ' )' AS [create_table_statement] \nFROM [crmipk_p_temp]\nAS [result]\nGROUP BY [entity_logical_name];"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set Tables And Queries",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Create Table Statement",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_config",
					"value": {
						"value": "@activity('Create Table Statement').output.resultSets[0].rows",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"metadata_table_name": {
				"type": "String"
			},
			"entity_logical_name": {
				"type": "String"
			},
			"v_config": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}