pipeline/MetadataPipeline.json
{
	"name": "MetadataPipeline",
	"properties": {
		"activities": [
			{
				"name": "Drop Test",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_asql_metadataui",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "DROP TABLE @{variables('tableName')}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "tableName",
					"value": "crmipk_p"
				}
			}
		],
		"variables": {
			"tableName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}