pipeline/MetadataCopySQLDBBased.json
{
	"name": "MetadataCopySQLDBBased",
	"properties": {
		"activities": [
			{
				"name": "Get Tables and Queries",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Truncate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT \n    SchemaName,\n    TableName,\n    'select ' + STRING_AGG('[' + ColumnName+ ']', ', ') + ' FROM [' + SchemaName + '].[' + TableName + ']' AS TableSQL\nFROM [UiConfig].[TablesColumns]\nAS [result]\nGROUP BY [SchemaName], [TableName]"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Loop Over Tables and Columns",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Tables and Queries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('v_conf')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Test Copy Data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set key column",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@item().TableSQL",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": {
											"value": "@variables('v_key')",
											"type": "Expression"
										}
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Stage_Table",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().SchemaName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Load_Table",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"SchemaName": "UiLoad"
									}
								}
							]
						},
						{
							"name": "UpperCase",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Test Copy Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "UPDATE [UiStaging].@{item().TableName}\nSET UpperCase = upper(Name)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Transform",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "UpperCase",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "INSERT INTO UiLoad.Names_ALL (Name, Age)\nSELECT upper(Name) AS Name,\n    Age\nFROM UiLoad.@{item().Tablename};",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Set key column",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_key",
								"value": [
									"Name"
								]
							}
						}
					]
				}
			},
			{
				"name": "Set Tables and Queries",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Tables and Queries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_conf",
					"value": {
						"value": "@activity('Get Tables and Queries').output.resultSets[0].rows",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Truncate",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Test Copy Data_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "TRUNCATE TABLE UiLoad.Names_ALL;\n\nprint('successfull truncation')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Test Copy Data_copy1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select [Name], [Age] FROM [UiStaging].[Names_A]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": {
							"value": "DELETE WHEN STATE == 'DEL'\nINSERT WHEN STATE == 'ADD'\nUPDATE WHEN STATE == 'UPD'",
							"type": "Expression"
						},
						"sqlWriterUseTableLock": false,
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"Name"
							]
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Stage_Table",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "Names_A",
								"type": "Expression"
							},
							"SchemaName": {
								"value": "UiStaging",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Load_Table",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "Names_A",
								"type": "Expression"
							},
							"SchemaName": "UiLoad"
						}
					}
				]
			}
		],
		"variables": {
			"v_suffix": {
				"type": "Array"
			},
			"v_tablename": {
				"type": "String"
			},
			"v_conf": {
				"type": "Array"
			},
			"v_key": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}