pipeline/MetadataCopySQLDBBased.json
{
	"name": "MetadataCopySQLDBBased",
	"properties": {
		"activities": [
			{
				"name": "Get Suffixes",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Test Change Names to Capital",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT concat('Names_',Namesuffix) as Tablename\nFROM UiConfig.Suffixes \nAS [result]"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Loop Over Suffixes",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('v_suffix')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Change Names to Capital",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "p_Tablename",
												"type": "String",
												"value": {
													"value": "@item().Tablename",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "NonQuery",
										"text": {
											"value": "TRUNCATE TABLE @item().Tablename;",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Set Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Suffixes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_suffix",
					"value": {
						"value": "@activity('Get Suffixes').output.resultSets[0].rows",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Test Set variable",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_tablename",
					"value": "Names_A"
				}
			},
			{
				"name": "Test Change Names to Capital",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Test Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "p_Tablename",
									"type": "String",
									"value": {
										"value": "@variables('v_tablename')",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "NonQuery",
							"text": {
								"value": "TRUNCATE TABLE [UiLoad].@{variables('v_tablename')}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"v_suffix": {
				"type": "Array"
			},
			"v_tablename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}