pipeline/rt_analysis_3.json
{
	"name": "rt_analysis_3",
	"properties": {
		"activities": [
			{
				"name": "Loop Termination",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(int(variables('update_counter')), 50)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Function always exist",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_asql_metadataui",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "WITH MultiplyInputs AS (\n    SELECT X AS Input1, Y AS Input2\n    FROM [dbo].[temp_table]\n)\nSELECT Input1, Input2, Input1 * Input2 AS Product\nFROM MultiplyInputs;"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Increment Loop Counter",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Function always exist",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "update_counter",
								"value": {
									"value": "@string(add(int(variables('loop_counter')), 1))",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.00:10:00"
				}
			}
		],
		"variables": {
			"loop_counter": {
				"type": "String",
				"defaultValue": "0"
			},
			"update_counter": {
				"type": "String"
			}
		},
		"annotations": []
	}
}